@tailwind base;
@tailwind components;
@tailwind utilities;

.top-game-card {
  background-color: slategrey;
  width: 250px;
  height: 400px;
  margin-right: 10px;
  border: solid 1px;
  box-shadow: 10px 10px 5px #153744;
}

.top-game-card-image {
  width: 250px;
  height: 200px;
}

.new-game-card {
  height: 600px;
}

.new-game-image {
  box-shadow: 10px 10px black;
}

.header {
  height: 70px;
  box-shadow: 0px 5px black;
}

.genre-list {
  box-shadow: 10px 10px lightblue;
}

.game-modal-image {
  height: 400px;
  width: 600px;
}

.genre-dropdown {
  width: 1000px;
}
